@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-5 mb-4">
    <h1 class="display-3">Bootstrap 4</h1>
    <p class="lead">In this tutorial I'll tell how to migrate from Bootstrap 3 to 4.</p>
    <hr class="my-4">
    <p>Click the button to read Bootstrap documentations.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" 
           role="button">Click!</a>
    </p>
</div>